* {
  box-sizing: border-box;
}

.recipe-details {
  width: 100vw;
}

.recipe-details-header {
  width: 100%;
}

.recipe-details-header img {
  width: 100%;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
}

.recipe-details-header h1 {
  font-family: 'Quicksand';
  color: #000000;
  padding-bottom: 4px;
}

.recipe-details-header h2 {
  font-family: 'Quicksand';
  color: #000000;
  padding-bottom: 24px;
}

.recipe-details-header-title {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recipe-details-header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.recipe-details-header-buttons button {
  background-color: transparent;
  border: none;
  padding: 0 0 0 8px;
}

.recipe-details-header-buttons button img {
  width: 29px;
  height: 29px;
  margin: 0;
  padding: 0;
}

.recipe-content {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 24px;
}

.recipe-content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.recipe-content::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;
}

.recipe-content::-webkit-scrollbar-track {
  background: transparent;
}

.ingredients,
.instructions {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

}

.ingredients div,
.instructions div {
  background: #EBEBEB;
  border-radius: 10px;
  width: 95%;
  height: 100%;
}

.ingredients div {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.ingredients p {
  font-family: 'Quicksand';
  color: #000000;
  padding: 8px 0 0 12px;
}

.ingredients ul {
  list-style: none;
  font-family: 'Quicksand';
  padding: 8px 0 0 12px;
  color: #000000;
}

.instructions div {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.instructions .title {
  font-family: 'Quicksand';
  color: #000000;
  padding: 8px 10px 5px 12px;
}

.instructions p {
  font-family: 'Quicksand';
  color: #000000;
  padding: 8px 10px 5px 12px;
}

.video {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.video-content p {
  font-family: 'Quicksand';
  color: #000000;
  margin-left: 15px;
  margin-bottom: 8px;
}

iframe {
  width: 95%;
  height: 220px;
  border: none;
}


.recomendationList {
  display: flex;
  overflow-x: auto;
}

ul{
  padding: 0;
}

.recomendationList li {
  margin-bottom: 55px;
  list-style: none;
  padding: 0;
}

.start-recipe-btn {
  position: fixed;
  bottom: 0;
  width: 360px;
  height: 45px;
  background: rgb(198, 255, 196);
  border: none;
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

@media only screen and (min-width : 320px) {
  .recipe-details-header h1 {
    font-weight: 600;
    font-size: 32px;
    margin-left: 15px;
  }

  .recipe-details-header h2 {
    font-weight: 300;
    font-size: 18px;
    margin-left: 15px;
  }

  .ingredients,
  .instructions {
    height: 60vh;
    max-height: 550px;
  }

  .ingredients p {
    font-weight: 600;
    font-size: 22px;
  }

  .ingredients ul {
    font-weight: 400;
    font-size: 18px;
  }

  .instructions .title {
    font-weight: 600;
    font-size: 22px;
  }

  .video-content p {
    font-weight: 600;
    font-size: 22px;
  }

  .instructions p {
    font-weight: 400;
    font-size: 16px;
  }
}